In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="fresh", 
  database='studentdb' #connecting to database studentdb
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000013DCB20B910>

In [3]:
mycursor = mydb.cursor()
#mycursor.execute("CREATE DATABASE StudentDB") #creating database

In [4]:
#check if a database exist by listing all databases
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('studentdb',)
('sys',)
('world',)

In [11]:
#creating table
#mycursor.execute("CREATE TABLE StudentInfo (id INT AUTO_INCREMENT PRIMARY KEY,SId int,sname VARCHAR(255), address VARCHAR(255))")
#mycursor.execute("DROP TABLE StudentInfo")
#mycursor.execute("CREATE TABLE StudentMarks (id INT AUTO_INCREMENT PRIMARY KEY,SId int,Maths int, English int, VR int,NVR int)")

In [12]:
#show all the tables from database
#mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('studentinfo',)
('studentmarks',)

In [5]:
#insert into tables
sid=int(input('Enter Student ID:'))
sname=input('Enter Student Name:')
address=input('Enter Address:')


sql="INSERT INTO StudentInfo (SId,sname,address) VALUES (%s, %s, %s)"
val=(sid,sname,address)
#val = (1,"John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.lastrowid)
##select data from table
mycursor.execute("SELECT * FROM StudentInfo")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

Enter Student ID:159
Enter Student Name:P
Enter Address:L
5
(1, 1872, 'r', 'dfd')
(2, 147, 'v', 'v')
(3, 7899, 'kk', 'uiyi#')
(4, 456, 'dwd', 'wqqw')
(5, 159, 'P', 'L')

In [6]:
#Select the 2 first records
mycursor.execute("SELECT * FROM StudentInfo LIMIT 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 1872, 'r', 'dfd')
(2, 147, 'v', 'v')

In [13]:
#if you want to return 3 records, starting from the 2 record, you can use the "OFFSET" keyword:
mycursor.execute("SELECT * FROM StudentInfo LIMIT 5 OFFSET 2")
#mycursor.execute("SELECT * FROM StudentInfo")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 1872, 'r', 'dfd')
(2, 147, 'v', 'v')
(3, 7899, 'kk', 'uiyi#')
(4, 456, 'dwd', 'wqqw')
(5, 159, 'P', 'L')

In [19]:
#insert into tables
sid=int(input('Enter Student ID:'))
Maths=input('Enter Maths Marks:')
English=input('Enter English Marks:')
Vr=input('Enter VR Marks:')
NVR=input('Enter NVR Marks:')

sql="INSERT INTO StudentMarks (SId,Maths,English,VR,NVR) VALUES (%s, %s, %s, %s ,%s)"
val=(sid,Maths,English,Vr,NVR)
#val = (1,"John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

Enter Student ID:456
Enter Maths Marks:50
Enter English Marks:32
Enter VR Marks:47
Enter NVR Marks:32

In [20]:
mycursor.execute("SELECT * FROM StudentMarks")
#mycursor.execute("SELECT * FROM StudentInfo")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 1872, 45, 35, 38, 22)
(2, 7899, 36, 48, 44, 50)
(3, 456, 50, 32, 47, 32)